/* .mainContainer {
  height: 100%;
} */

.NavBar {
  /* background-color: gray; */
  background-color: #455a64;
  border-bottom: 1px solid black;
  height: 7vh;
  display: flex;
  align-items: center;
  /* position: sticky; */
  top: 0px;
  z-index: 1;
  position: relative;

  & .logoContainer {
    position: absolute;
    display: flex;
    background-color: #333;
    justify-content: center;
    min-width: fit-content;
    max-width: 10rem;
    width: 100%;
    cursor: pointer;

    & img {
      max-width: inherit;
      width: 100%;
    }
  }

  & .title {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 3vh;
    min-width: fit-content;
  }
}

.pageContainer {
  display: flex;
  height: 100%;

  & .leftAside {
    /* position: relative; */
    all: unset;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 13rem;
    width: 10rem;
    /* background-color: #333; */
    background-color: #455a64;
    color: #ffffff;
    height: 93vh;
    transition: all 0.2s ease-in-out;

    & ul {
      list-style: none;
    }

    & input[type="date"] {
      font-size: 1rem;
      margin: 1rem auto;
      /* margin-bottom: 1rem; */
      width: 80%;
      border-radius: 0.3rem;
      text-align: center;
      /* padding: 0.5rem; */

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        background-color: #cfd8dc;
        padding: 0.3rem;
        /* border-radius: 0.4rem; */
      }
    }
    & section:first-child {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      border-bottom: 1px solid aliceblue;
      /* width: 90%; */
      /* margin: 0 auto; */
    }
    & section {
      & h3 {
        /* text-align: center; */
        margin: 0.5rem 0.5rem 0 0.5rem;
      }
    }
    & .categories {
      display: flex;
      flex-direction: column;
      height: 100%;

      & li {
        display: flex;
        align-items: center;
        height: 2.3rem;
        padding-left: 0.5rem;
        /* padding-right: 1rem; */
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        /* vertical-align: middle; */
        /* scale: 1.1; */

        &:hover {
          font-size: large;
          font-weight: bold;
          background-color: #607d8b;
        }
      }
    }
  }

  & .content {
    margin: 0.5rem;
  }
}

.drawer {
  display: flex;
  justify-content: end;
  /* width: 100%; */
  /* position: fixed; */
  /* height: 100%;
  align-items: center; */
  /* justify-content: end; */

  & svg {
    margin-right: 0.5rem;
    font-size: 1rem;
    height: fit-content;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
}

/* LeftAside fechada */
.leftAsideColapsed {
  /* position: relative; */
  all: unset;
  display: flex;
  flex-direction: column;
  /* min-width: fit-content; */
  width: 3.2rem;
  /* background-color: #333; */
  background-color: #455a64;
  color: #ffffff;
  height: 93vh;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;

  & ul {
    list-style: none;
  }

  & input[type="date"] {
    display: none;
  }
  & section:first-child {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-bottom: 1px solid aliceblue;
    /* width: 90%; */
    /* margin: 0 auto; */
  }
  & section {
    & h3 {
      display: none;
    }
  }
  & .categories {
    display: flex;
    flex-direction: column;
    height: 100%;

    & li {
      display: flex;
      align-items: center;
      height: 2.3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      cursor: pointer;
      transition: all 0.2s;
      vertical-align: middle;
      width: 3rem;

      &:hover {
        font-size: large;
        font-weight: bold;
        background-color: #607d8b;
      }
    }
    & p {
      display: none;
    }
  }

  & .drawer {
    & svg {
      margin-right: 0;
      rotate: 180deg;
    }
  }

  & footer {
    text-align: center;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    & a {
      color: inherit;
    }
    &:hover {
      scale: 1.1;
      /* cursor: pointer; */
    }
  }
}

@media screen and (max-width: 768px) {
  .pageContainer .leftAside,
  .NavBar {
    height: 3rem;
  }
  .pageContainer .leftAside,
  .NavBar .logoContainer {
    display: flex;
    justify-content: start;
    min-width: auto;
    height: inherit;
    width: 9rem;

    & img {
      width: 100%;
    }
  }
  .pageContainer .leftAside section input[type="date"] {
    /* min-width: 50%; */
    margin: 0.3rem auto;
  }
  .pageContainer .leftAside section h3 {
    margin-left: 0;
  }
}

@media screen and (max-height: 480px) {
  .NavBar {
    position: relative;
  }

  .pageContainer .leftAside {
    height: 100%;
    width: 9rem;
  }
  .pageContainer .leftAside .categories ul li {
    padding: 0;
  }
}
