.NavBar {
  background-color: #455a64;
  border-bottom: 1px solid black;
  height: 7vh;
  display: flex;
  align-items: center;
  top: 0px;
  z-index: 1;
  position: relative;

  & .logoContainer {
    position: absolute;
    display: flex;
    background-color: #333;
    justify-content: center;
    min-width: fit-content;
    max-width: 10rem;
    width: 100%;
    height: 100%;
    cursor: pointer;

    & img {
      max-width: inherit;
      width: 100%;
    }
  }

  & .title {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 3vh;
    min-width: fit-content;
  }
}

.pageContainer {
  display: flex;
  /* height: 100%; */

  & .leftAside {
    /* all: unset; */
    display: flex;
    flex-direction: column;
    /* min-width: fit-content; */
    max-width: 13rem;
    width: 9.7rem;
    background-color: #455a64;
    color: #ffffff;
    height: 93vh;
    transition: all 0.2s ease-in-out;

    & ul {
      list-style: none;
    }

    & input[type="date"] {
      font-size: 1rem;
      margin: 1rem auto;
      width: 80%;
      border-radius: 0.3rem;
      text-align: center;
      transition: all 0.2s ease-in-out;

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        background-color: #cfd8dc;
        padding: 0.3rem;
      }
    }
    & section:first-child {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #ffffff;
    }

    & h3 {
      margin: 0.5rem 0.5rem 0 0.5rem;
      transition: all 0.2s ease-in-out;
    }

    & .categories {
      display: flex;
      flex-direction: column;
      height: 100%;

      & .label {
        transition: all 0.2s ease-in-out;
        margin-left: 0.3rem;
      }

      & li {
        display: flex;
        align-items: center;
        height: 2.3rem;
        padding-left: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          font-size: large;
          font-weight: bold;
          background-color: #607d8b;
        }
      }
    }
    & footer {
      transition: all 0.2s ease-in-out;
      font-size: 0.7rem;
    }
  }

  & .content {
    margin: 0.5rem;
  }
}

& .dayIndicatorColapsed {
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
& .dayIndicator {
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.3rem;
}
& .dayIndicatorDate {
  all: unset;
  width: 80%;
  height: 2rem;
  border: 1px solid #607d8b;
  border-radius: 0.3rem;
  padding: 0 0.2rem;
  cursor: pointer;
}

.drawer {
  display: flex;
  justify-content: end;
  /* width: 100%; */
  /* position: fixed; */
  /* height: 100%;
  align-items: center; */
  /* justify-content: end; */

  & svg {
    margin-right: 0.5rem;
    font-size: 1rem;
    height: fit-content;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
}

/* LeftAside fechada */
.leftAsideColapsed {
  all: unset;
  display: flex;
  flex-direction: column;
  width: 3.2rem;
  background-color: #455a64;
  color: #ffffff;
  height: 93vh;
  transition: all 0.2s ease-in-out;

  & .dateInputSec {
    width: 0px;
    height: 0px;
  }

  & section:first-child * {
    transition: all 0.2s ease-in-out;
    width: 0px;
    height: 0px;
    border: none;
  }

  & h3 {
    transition: all 0.2s ease-in-out;
    font-size: 0px;
  }

  & .categories {
    display: flex;
    flex-direction: column;
    height: 100%;

    & li {
      display: flex;
      align-items: center;
      height: 2.3rem;
      padding: 0 1rem 0 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        font-size: large;
        font-weight: bold;
        background-color: #607d8b;
      }
    }
    & p {
      font-size: 0px;
      transition: all 0.2s ease-in-out;
    }
  }

  & .drawer {
    & svg {
      margin-right: 0;
      rotate: 180deg;
    }
  }

  & footer {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    transition: all 0.2s ease-in-out;

    & a {
      color: inherit;
    }
    &:hover {
      scale: 1.1;
    }
  }
}

@media screen and (max-width: 768px) {
  .pageContainer {
    height: 93vh;
  }
  .pageContainer .leftAside,
  .NavBar {
    height: 3rem;
  }
  .pageContainer .leftAside,
  .NavBar .logoContainer {
    display: flex;
    justify-content: start;
    min-width: auto;
    height: inherit;
    width: 9rem;

    & img {
      width: 100%;
    }
  }

  .pageContainer .leftAside .categories ul li {
    height: 2rem;
  }

  .pageContainer .leftAside section input[type="date"] {
    /* min-width: 50%; */
    margin: 0.3rem auto;
  }

  .pageContainer .leftAside section h3 {
    margin-left: 0;
  }
}

@media screen and (max-height: 480px) {
  .NavBar {
    position: relative;
  }

  .pageContainer .leftAside {
    height: 100%;
    width: 9rem;
  }
  .pageContainer .leftAside .categories ul li {
    padding: 0;
  }
}
