.footer {
  font-size: 0.7rem;
  text-align: center;
  /* position: inherit; */
  /* bottom: 0; */
  width: 100%;
  /* text-indent: 0.5rem; */
  margin-bottom: 0.1rem;
  & a {
    color: #fff;
    text-decoration: none;
  }
}
